/*内容标题*/
.layout_m_contitle {
	padding: 30px 0px 15px 50px;
}
/*中部内容*/
.layout_m_infomcon {
	height: 30px;
	margin: 5px 0px 5px 80px;
	font-size: 16px;
	color: #696969;
}
.layout_m_infomcon p {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	float: left;
}
/*中部内容*/
.layout_m_infomcon1 {
	height: 30px;
	margin: 5px 0px 5px 0px;
	line-height: 30px;
	display: block;
}

.layout_m_infomcon1 p {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
}
.layout_m_content td {
	height: 30px;
}

.layout_m_infotextarea {
	height: 94%;
	width: 410px;
	color: #696969;
	outline: none;
	padding: 1.5%;
	resize: none;
	display: block;
}
.cleanfloat{
	position: relative;
	float: left;
}

.layout_m_content ul li {
	display: inline-block;
	font-size: 28px;
	height: 30px;
	width: 30px;
	line-height:30px;
	list-style: none;
	text-align: center;
	color: #ccc;
	cursor: pointer;
}

/*五角星样式*/
.hs,
.cs {
	color: #FFD700;
}

.layout_m_checkinput{
	display: block;
    width: 17px;
    height: 17px;
	float: right;
}
.button_pjjysub{
	position: relative;
	margin-right: 30px;
	margin-top: 15px;
	float: right;
}

.layout_m_infobtnsave {
	height: 60px;
	/* width: 100%; */
	margin-right: 30px;
	margin-top: 20px;
}


.layout_m_infoupcontent table{
	margin: 0 auto;
}
.layout_m_infoupcontent table tr{
	height: 30px;
}

/*输入框居左80px*/
.layout_m_infoupcontent input{
	height: 22px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}
.layout_m_infoupcontent select{
	width: 100%;
	height: 26px;
}

/*照片图片*/
.layout_m_infoimg {
	width: 52px;
	height: 52px;
}

.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
}

.custom-map-control-button:hover {
    background: #ebebeb;
}

#map_wrapper {
    position: relative;
}

#loader {
  position: absolute;
  z-index: 99;
  margin: auto;
  overflow: visible;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
