{% include 'operator/o_header.html' %}
       <!--谷歌地图调用api-->
<link rel="stylesheet" type="text/css" href="../../static/user/css/google_map.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>
<script src="../../static/user/js/google_map.js"></script>

<!-- //about breadcrumb -->
 <section class="w3l-contact-11 py-5" id="contact">
     <div class="contacts-main py-lg-5 py-md-4">
         <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
             <div class="container">
                 <div class="d-grid align-form-map">

                    <div class="map" id = "googleMap" style="width:100%;height:500px;border: 200px;padding:100px;">
                     </div>
                     <div class="form-inner-cont">
                         <form name="find-form" id="find-form"
                               method="post" action="">
                             {% csrf_token %}
                             <div class="form-input">
                                 <label>Bike ID</label>
                                 <input type="text" name="bikeId" id="bikeId" placeholder="" />
                                 <button type="button" id="search" class="btn btn-primary btn-style">Search</button>
                             </div>
                             <div class="form-input" id="input-status" style="visibility:hidden">
                                 <label for="status">Bike Status</label>
                                 <textarea  name="status" id="status" placeholder="Found bike information will appear here." ></textarea>
                             </div>

                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>

<script>
$(document).ready(function(){
    $('#search').click(function () {
        let bikeId= $('#bikeId').val().trim();
        if (bikeId=='') {
            alert("Please input your bike ID");
            return;
        }

        $.ajax({
            url:"/o_manage_bike/findBikeDo",
            type:"GET",
            data:{ bikeId },
            success:function(data){
                if (data != 'BikeIDError') {
                    $('#input-status').css('visibility', 'visible')
                    $('#status').val(data)
                }
                else alert(`There is no matching bike ID (${bikeId}) reported defective.`)
            },
            fail:function(data){
                alert("false")
            }
        })
    })
})

</script>


<script>

 // Get Locations from the DB
 var loc_lat = {{loc_lats}};
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

 //BIKE LOCATIONS (HARDCODED NEED TO FIX BACKEND)
 // Get Locations from the DB
 var loc_lat_bike = {{loc_lat_bike}};
 var loc_lon_bike = {{loc_lon_bike}};

//Initialize Marker
let marker;

</script>


{% include 'operator/o_footer.html' %}