<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--  <title>Contact</title>-->

  <!-- Template CSS -->
  <link rel="stylesheet" href="../../static/user/css/style-starter.css">

  <script src="../../static/user/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
  <script src="../../static/user/js/jquery.js"></script> <!-- Common jquery plugin -->
  <script src="../../static/user/js/jquery.md5.js"></script> <!-- Common jquery plugin -->
<!--  <script src="../../static/user/js/jquery-3.3.1.min.js"></script> &lt;!&ndash; Common jquery plugin &ndash;&gt;-->

</head>

<body>
<header id="site-header" class="fixed-top">
  <section class="w3l-header-4">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
              <h1><a class="navbar-brand" href="index.html"><span class="fa fa-newspaper-o" aria-hidden="true"></span>
                      Corpo<span>Link</span>
                  </a></h1>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa icon-expand fa-bars"></span>
                  <span class="fa icon-close fa-times"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="../o_index/index">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="about.html">Find</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="../u_user_information/index">Repair</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="services.html">Transport</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="services.html">Information</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav search-right mt-lg-0 mt-2">
                      <li class="nav-item"><a href="../o_login/index"
                              class="btn btn-primary d-none d-lg-block btn-style mr-2">Drop out</a></li>
                  </ul>

              </div>
          </nav>
      </div>
  </section>
</header>