<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--  <title>Contact</title>-->

  <!-- Template CSS -->
  <link rel="stylesheet" href="../../static/user/css/style-starter.css">
<link rel='shortcut icon' href='../../static/admin/img/favicon.ico' type='image/x-icon' />
  <script src="../../static/user/js/jquery.js"></script> <!-- Common jquery plugin -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../static/user/js/jquery.md5.js"></script> <!-- Common jquery plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

</head>

<body>
<header id="site-header" class="fixed-top">
  <section class="w3l-header-4">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
              <h1><a class="navbar-brand" href="index"><img src='../../static/admin/img/bike_logo.jpeg' style="height:55px"/></a></h1>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa icon-expand fa-bars"></span>
                  <span class="fa icon-close fa-times"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="../o_index/index">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="../o_manage_bike/findBike">Find</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="../o_manage_bike/repairBike">Repair</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="../o_manage_bike/transportBike">Transport</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="">Unavailable</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav search-right mt-lg-0 mt-2">
                      <li class="nav-item"><button type="submit" onclick="logout()"
                              class="btn btn-primary d-none d-lg-block btn-style mr-2">Log out</button></li>
                  </ul>

              </div>
          </nav>
      </div>
  </section>
</header>

<script>
	function logout(){
	    let stored = '';
        $.ajax({
			url:"/o_login/logout",
			type:"POST",
            data: { stored },
			success:function(data){
				if(data == "success"){
					alert("Logout successfully")
					window.location.href = "../o_login/index"
				}
			},
			fail:function(data){
				alert("Logout did not success")
			}
		})
	}
</script>
