{% include 'user/u_header.html' %}
    <link rel="stylesheet" type="text/css" href="../../static/user/css/google_map.css" />
       <!--谷歌地图调用api-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>
    <script src="../../static/user/js/google_map.js"></script>

<!-- //about breadcrumb -->
 <section class="w3l-contact-11 py-5" id="contact">
     <div class="contacts-main py-lg-5 py-md-4">
         <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
             <div class="container">
                 <div class="d-grid align-form-map">

                    <div class="map" id = "googleMap" style="width:100%;height:500px;border: 200px;padding:100px;">
                     </div>
                     <div class="form-inner-cont">
                         <form method="post" class="signin-form">
                            <div class="form-input">
                                 <label>Booking Id</label>
                                   <input type="hidden" id="bikeRouteId" value="{{bikeRouteId}}">
                                   <input type="hidden" id="latitude" value="{{latitude}}">
                                   <input type="hidden" id="longitude" value="{{longitude}}">
                                 <h2>{{bikeRouteId}}</h2>
                             </div>
                              <div class="form-input">
                                    <input type="hidden" id="bikeId" value="{{bikeid}}">
                                 <label>Bike Id</label>
                                 <h2>{{bikeid}}</h2>
                             </div>
                             <div class="form-input">
                                 <label>Type(Required)*</label>
                                 <input type="email" name="w3lSender" id="type" placeholder="" required="" />
                             </div>
                             <div class="form-input">
                                 <label>Detail(Required)*</label>
                                 <textarea placeholder="" name="w3lMessage" id="detail" required=""></textarea>
                             </div>
                             <button type="button" id="cancel" class="btn btn-primary btn-style">cancel</button>
                             <button type="button" id="submit" class="btn btn-primary btn-style">Submit</button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


# cancel
<script>
    $(document).ready(function(){
        $("#cancel").click(function(){
            window.location.href = "../u_biking/index"
        })
    })
</script>

# submit
<script>
     $(document).ready(function(){
        $("#submit").click(function(){
            var latitude = $("#latitude").val()
            var longitude = $("#longitude").val()
            var bikeRouteId = $("#bikeRouteId").val()
            var bikeId = $("#bikeId").val()
            var type = $("#type").val()
            var detail = $("#detail").val()
            $.ajax({
                url:"/u_bike_question/recordQuestion",
                type:"POST",
                data:{
                    bikeRouteId:bikeRouteId,
                    bikeId:bikeId,
                    latitude:latitude,
                    longitude:longitude,
                    type:type,
                    detail:detail
                },
                success:function(data){
                    if(data == "success"){
                        alert("report success")
                        window.location.href = "../u_index/index"
                       }
                    else{
                        alert("need location at first")
                        window.location.href = "../u_login/index"
                    }
                },
                fail:function(data){
                    alert("error")
                    window.location.href = "../u_login/index"
                }
            })
        })
    })
</script>

<script>

 // Get Locations from the DB
 var loc_lat = {{loc_lats}};
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

 //BIKE LOCATIONS (HARDCODED NEED TO FIX BACKEND)
 // Get Locations from the DB
 var loc_lat_bike = {{loc_lat_bike}};
 var loc_lon_bike = {{loc_lon_bike}};

//Initialize Marker
let marker;

</script>


{% include 'user/u_footer.html' %}