{% include 'user/u_header.html' %}
       <!--谷歌地图调用api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw" async defer></script>

	<script>

    function initialize()
    {
      var mapProp = {
        center: new google.maps.LatLng(55.87189,-4.28922),
        zoom:7,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }

    function loadScript()
    {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }


    window.onload = loadScript;

    </script>

<!-- //about breadcrumb -->
 <section class="w3l-contact-11 py-5" id="contact">
     <div class="contacts-main py-lg-5 py-md-4">
         <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
             <div class="container">
                 <div class="d-grid align-form-map">

                    <div class="map" id = "googleMap" style="width:100%;height:500px;border: 200px;padding:100px;">
                     </div>
                     <div class="form-inner-cont">
                         <form method="post" class="signin-form">
                            <div class="form-input">
                                 <label>Booking Id</label>
                                   <input type="hidden" id="bikeRouteId" value="{{bikeRouteId}}">
                                   <input type="hidden" id="latitude" value="{{latitude}}">
                                   <input type="hidden" id="longitude" value="{{longitude}}">
                                 <h2>{{bikeRouteId}}</h2>
                             </div>
                              <div class="form-input">
                                    <input type="hidden" id="bikeId" value="{{bikeid}}">
                                 <label>Bike Id</label>
                                 <h2>{{bikeid}}</h2>
                             </div>
                             <div class="form-input">
                                 <label>Type(Required)*</label>
                                 <input type="email" name="w3lSender" id="type" placeholder="" required="" />
                             </div>
                             <div class="form-input">
                                 <label>Detail(Required)*</label>
                                 <textarea placeholder="" name="w3lMessage" id="detail" required=""></textarea>
                             </div>
                             <button type="button" id="cancel" class="btn btn-primary btn-style">cancel</button>
                             <button type="button" id="submit" class="btn btn-primary btn-style">Submit</button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


# cancel
<script>
    $(document).ready(function(){
        $("#cancel").click(function(){
            window.location.href = "../u_biking/index"
        })
    })
</script>

# submit
<script>
     $(document).ready(function(){
        $("#submit").click(function(){
            var latitude = $("#latitude").val()
            var longitude = $("#longitude").val()
            var bikeRouteId = $("#bikeRouteId").val()
            var bikeId = $("#bikeId").val()
            var type = $("#type").val()
            var detail = $("#detail").val()
            $.ajax({
                url:"/u_bike_question/recordQuestion",
                type:"POST",
                data:{
                    bikeRouteId:bikeRouteId,
                    bikeId:bikeId,
                    latitude:latitude,
                    longitude:longitude,
                    type:type,
                    detail:detail
                },
                success:function(data){
                    alert("report success")
                    window.location.href = "../u_index/index"
                },
                fail:function(data){

                }
            })
        })
    })
</script>

{% include 'user/u_footer.html' %}