{% include 'user/u_header.html' %}

<!-- banner section -->


<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                <span class="title-small mb-2">For you health</span>
                <h3 class="mb-2 title-big mb-4">Come on! Bring your family and to the nurture!</h3>
                <p>Why not to enjoy your holiday! Rent a bike is your best choice!</p>
                <div class="mt-sm-5 mt-4">
                    <a class="btn btn-outline-primary btn-style mr-2" href="../u_rent_bike/index"> Rent how <span class="fa fa-chevron-right"></span></a>
                    <a class="btn btn-primary btn-style" href="contact.html"> How to use </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-5">
                <div class="img-effect text-lg-center">
                    <img src="../../static/user/images/bike_index.jpg"  class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->


<!-- services page block 2 -->
<section class="w3l-features py-5" id="work">
    <div class="call-w3 py-lg-5 py-md-4">
        <div class="container">
            <div class="row main-cont-wthree-2">
                <div class="col-lg-6 feature-grid-left">
                    <h3 class="title-big mb-md-4 mb-2">Why choose us</h3>
                    <p class="text-para">We are a good team, we have 24 hours operator can help you very well. There are more welfare for you! </p>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <img src="../../static/user/images/team.png" alt="" class="img-fluid">
                            </div>
                            <h4><a href="#feature" class="title-head">Many users</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <img src="../../static/user/images/tags.png" alt="" class="img-fluid">
                            </div>
                            <h4><a href="#feature" class="title-head">Many Welfare</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <img src="../../static/user/images/backup.png" alt="" class="img-fluid">
                            </div>
                            <h4><a href="#feature" class="title-head">Rent on Web</a></h4>
                        </div>
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <img src="../../static/user/images/support.png" alt="" class="img-fluid">
                            </div>
                            <h4><a href="#feature" class="title-head">24h Operator</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services page block 2 -->


<!-- footer-28 block -->
{% include 'user/u_footer.html' %}