{% include 'user/u_header.html' %}
    <link rel="stylesheet" type="text/css" href="../../static/user/css/google_map.css" />
       <!--谷歌地图调用api-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>
    <script src="../../static/user/js/google_map.js"></script>


<!-- //about breadcrumb -->
 <section class="w3l-contact-11 py-5" id="contact">
     <div class="contacts-main py-lg-5 py-md-4">
         <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
             <div class="container">
                 <div class="d-grid align-form-map">
                    <div class="map" id = "googleMap" style="width:100%;height:500px;border: 200px;padding:100px;">
                     </div>
                     <div class="form-inner-cont">
                         <form method="post" class="signin-form">
                             <div class="form-input">
                                 <label>Bike Id</label>
                                 <input type="text" name="BikeName" id="bikeid" placeholder="" />
                             </div>

                             <div class="form-input">
                                 <h2 id="returnCode"></h2>
                             </div>
                             <div class="form-input" id="changeButton">
                                 <input type="hidden" id="rentBikeId">
                                 <input type="hidden" id="lat">
                                 <input type="hidden" id="lng">
                                 <button type="button" id="sendCode" class="btn btn-primary btn-style">Get Password</button>
                                 <button type="button" id="changeBike" style="visibility: hidden" class="btn btn-primary btn-style">Change Bike</button>
                                 <button type='button' id = 'seeBiking' style="visibility: hidden" class='btn btn-primary btn-style'>Confirm</button>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>

<script>
$(document).ready(function(){
    $("#sendCode").click(function(){
        var bikeid = $("#bikeid").val().trim();
        if(bikeid==""){
            alert("please input your bikeid");
            return;
        }
        alert("we send you an email,please check!")
        $.ajax({
            url:"/u_rent_bike/send",
            type:"POST",
            data:{
                bikeid:bikeid
            },
            success:function(data){
                alert("email is ok");
                if(data == "notExist"){
                    alert("bike not exist, please change one")
                    return;
                }
                $("#rentBikeId").val(bikeid)
                $("#returnCode").html(data)
                $("#sendCode").remove()
                $("#seeBiking").css("visibility","visible");
                $("#changeBike").css("visibility","visible");
            },
            fail:function(data){
                alert("false")
            }
        })
    })
})

</script>

<!--change a bike-->
<script>
    $(document).ready(function(){
        $("#changeBike").click(function(){
            window.location.href = "../u_rent_bike/index"
        })
    })
</script>


<!--comfirm the bike-->
<script>
    $(document).ready(function(){
        $("#seeBiking").click(function(){
            var bikeId = $("#rentBikeId").val()
            var latitude = $("#lat").val()
            var longitude = $("#lng").val()
            window.location.href = "../u_biking/index?bikeid="+bikeId+"&latitude="+latitude+"&longitude="+longitude
        })
    })
</script>

<script>

 // Get Locations from the DB
 var loc_lat = {{loc_lats}};
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

 //BIKE LOCATIONS (HARDCODED NEED TO FIX BACKEND)
 // Get Locations from the DB
 var loc_lat_bike = {{loc_lat_bike}};
 var loc_lon_bike = {{loc_lon_bike}};

//Initialize Marker
let marker;

</script>
<!--<script src="../../static/user/js/google_map.js"></script>-->

{% include 'user/u_footer.html' %}