{% include 'user/u_header.html' %}
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_manage.css' />
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="layout_m_table">
                            <table class="table_user">
                                <thead>
                                    <tr>
                                        <th>
                                            <p>Index</p>
                                        </th>
                                        <th>
                                            <p>Bike Id</p>
                                        </th>
                                        <th>
                                            <p>latitude</p>
                                        </th>
                                        <th>
                                            <p>longitude</p>
                                        </th>
                                         <th>
                                            <p>start_time</p>
                                        </th>

                                         <th>
                                            <p>end_time</p>
                                        </th>

                                         <th>
                                            <p>fee</p>
                                        </th>
                                        <th>
                                            <p>ratings</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for userRoute in userRoutes %}
                                    <tr id="{{userRoute.id}}">
                                        <td>
                                            <p>{{userRoute.id}}</p>
                                        </td>
                                        <td>
                                            <p>{{userRoute.bike_id.id}}</p>
                                        </td>
                                        <td>
                                            <p>{{userRoute.latitude}}</p>
                                        </td>
                                        <td>
                                            <p>{{userRoute.longitude}}</p>
                                        </td>
                                         <td>
                                            <p>{{userRoute.start_time}}</p>
                                        </td>
                                         <td>
                                            <p>{{userRoute.end_time}}</p>
                                        </td>
                                         <td>
                                            <p>{{userRoute.fee}}</p>
                                        </td>
                                        <td>
                                            <p>{{userRoute.ratings}}</p>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


    </div>
</section>
<!-- //banner section -->

<!-- //banner section -->
<section class="w3l-homeblock1" id="features">
    <div class="w3-services-ab py-5">

        <div class="container py-lg-5 py-md-4">
            <span class="title-small text-center mb-2">work space</span>
            <h3 class="title-big text-center mb-5">Operator Available</h3>
            <div class="w3-services-grids">
                <div class="row w3-services-right-grid">
                    <div class="col-lg-4">
                        <img src="../../static/user/images/bike_index.jpg" alt="" class="img-fluid" />
                    </div>

                    <div class="col-lg-8 mt-lg-0 mt-5">
                        <div class="fea-gd-vv row">
                            <div class="col-md-6" onclick="window.location.href='../o_manage_bike/findBike'">
                            <div class="float-lt feature-gd color-green">
                                <div class="icon">
                                    <img src="../../static/user/images/find.png" alt="" class="img-fluid" />
                                </div>
                                <div class="icon-info">
                                    <h5>Find Bike</h5>
                                    <p>Checkout a bike's status and its place.</p>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6 mt-md-0 mt-4" onclick="window.location.href='../o_manage_bike/repairBike'">
                            <div class="float-mid feature-gd color-pink">
                                <div class="icon">
                                    <img src="../../static/user/images/repair.png" alt="" class="img-fluid" />
                                </div>
                                <div class="icon-info">
                                    <h5>Repair Bike</h5>
                                    <p>When defective is found, Please report in details.</p>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6 mt-4 pt-md-2" onclick="window.location.href='../o_manage_bike/transportBike'">
                            <div class="float-rt feature-gd color-purple">
                                <div class="icon">
                                    <img src="../../static/user/images/transport.png" alt="" class="img-fluid" />
                                </div>
                                <div class="icon-info">
                                    <h5>Transport Bike</h5>
                                    <p>When your journey is done, report to us.</p>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6 mt-4 pt-md-2" onclick="">
                            <div class="float-lt feature-gd color-orange">
                                <div class="icon">
                                    <img src="../../static/user/images/backup.png" alt="" class="img-fluid" />
                                </div>
                                <div class="icon-info">
                                    <h5>Unavailable</h5>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
	$(document).ready(function () {
		$('.table_user').DataTable();
	})
</script>


<!-- footer-28 block -->
{% include 'user/u_footer.html' %}