{% include 'user/u_header.html' %}

<!-- //about breadcrumb -->
 <section class="w3l-contact-11 py-5" id="contact">
     <div class="contacts-main py-lg-5 py-md-4">
         <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
             <div class="container">
                 <div class="d-grid align-form-map">
                     <div class="form-inner-cont">
                         <form method="post" class="signin-form">
                             <div class="form-input">
                                 <label>Booking Id</label>
                                 <h2>20201201</h2>
                             </div>
                           <div class="form-input">
                                 <label>Bike Id</label>
                                 <h2>UK00001</h2>
                             </div>
                              <div class="form-input">
                                 <label>Name</label>
                                 <input type="text" name="w3lName" id="w3lName" placeholder="" />
                             </div>
                             <div class="form-input">
                                 <label>Email(Required)*</label>
                                 <input type="email" name="w3lSender" id="w3lSender" placeholder="" required="" />
                             </div>
                             <div class="form-input">
                                 <label>Message(Required)*</label>
                                 <textarea placeholder="" name="w3lMessage" id="w3lMessage" required=""></textarea>
                             </div>
                             <button type="button" class="btn btn-primary btn-style">Submit</button>
                         </form>
                     </div>
                      <div class="form-inner-cont">
                         <form method="post" class="signin-form">
                             <div class="form-input">
                                 <label>Booking Id</label>
                                 <h2>20201201</h2>
                             </div>
                           <div class="form-input">
                                 <label>Bike Id</label>
                                 <h2>UK00001</h2>
                             </div>
                              <div class="form-input">
                                 <label>Name</label>
                                 <input type="text" name="w3lName" id="w3lName" placeholder="" />
                             </div>
                             <div class="form-input">
                                 <label>Email(Required)*</label>
                                 <input type="email" name="w3lSender" id="w3lSender" placeholder="" required="" />
                             </div>
                             <div class="form-input">
                                 <label>Message(Required)*</label>
                                 <textarea placeholder="" name="w3lMessage" id="w3lMessage" required=""></textarea>
                             </div>
                             <button type="button" class="btn btn-primary btn-style">Submit</button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
{% include 'user/u_footer.html' %}