{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />
<div class="layout_m_content">
	<div class="layout_m_contitle">Add a New Bike</div>
	<div class="layout_m_infoupcontent">
		<form action="." method="post"
			  name="add_bike" id="add_bike">
			<table border="0">
				<tr>
					<td for="id">Bike ID:</td>
					<td><input type="number" name="id" id="id" class=""  /></td>
				</tr>
				<tr>
					<td for="password">Bike Password:</td>
					<td><input type="password" name="password" id="password" class=""  /></td>
				</tr>
				<tr>
					<td for="locations">Location:</td>
					<td>
						<select name="locations" id="locations" class="">
							{% for location in locations%}
							<option value="{{location.id}}">{{location.location_name}}</option>
							{%endfor%}
						</select>
					</td>
				</tr>
				<tr>
					<td for="rent_fee">Rent Fee:</td>
					<td><input type="number" name="rent_fee" id="rent_fee" class=""  /></td>
				</tr>
				<tr>
					<td class="layout_m_infomcon" for="photo">
						<span style="color: #FF0000;">*</span> Image:
					</td>
					<td><input  type="file" id="photo" name="photo" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>

<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='add_bike']").validate({
			rules: {
				id: "required",
				password: {
					required: true,
					minlength: 5
				},
				locations: "required",
				rent_fee: "required",
				photo: "required"
			},
			messages: {
				id: "Please enter ID",
				password: "Please enter password longer than 5 characters",
				locations: "Please pick any point in map or enter any number",
				rent_fee: "Please enter the amount of rent fee",
				photo: "Please upload photo"
			},
			submitHandler: function (form) {
				let id = $("#id").val(), password = $("#password").val(),
					locations = $('#locations :selected').text(),
					rent_fee = $("#rent_fee").val(),
					photo = $('#photo').val(); // TODO: find a way to upload photo
				$.post({
					url:".",
					type:"POST",
					data:{
						id, password, locations, rent_fee, photo
					},
					success:function(data){
						if(data == "success"){
							alert("Added successfully")
							// window.location.href = "../a_manage_location/addNewLocation"
						}
						else{
							alert("Error")
							}
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>
