{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />
<script src="../../static/user/js/jquery.md5.js"></script> <!-- Common jquery plugin -->

<div class="layout_m_content">
	<div class="layout_m_contitle">Add a New Bike</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_index/index" method="post" name="registration" id="registration">
			{% csrf_token %}
			<table border="0">
				<tr>
					<td for="email">UserName/Email:</td>
					<td><input type="email" name="email" id="email" placeholder="john@doe.com"/></td>
				</tr>
				<tr>
					<td for="password">Password:</td>
					<td><input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"/></td>
				</tr>
				<tr>
					<td for="telephone">Telephone:</td>
					<td><input type="number" class="" name="telephone" id="telephone" /></td>
				</tr>
				 <tr>
					<td for="money">Money/￡:</td>
					<td><input type="number" class="" name="money" id="money" /></td>
				</tr>
				<tr>
					<td for="location">Location:</td>
					<td><input type="text" class="" name="location" id="location" value="" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>


<script>
$(function () {
	$("#button_save").click(function() {
		$("form[name='registration']").validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				password: {
					required: true,
					minlength: 5
				},
				telephone: "required",
				money: "required",
				location: "required"
			},
			messages: {
				email: "Please enter a valid email address",
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long."
				},
				telephone: "Please enter your telephone",
				money: "Please enter the amount of money",
				location: "Please enter the name of location"
			},
			submitHandler: function (form) {
				let username = $("#email").val(), password = $("#password").val(),
					telephone = $("#telephone").val(), money = $("#money").val(),
					location = $("#location").val();
				$.post({
					url:"/a_manage_user/addNewUserDo",
					type:"POST",
					data:{
						username, password, telephone ,money, location
					},
					success:function(data){
					alert(data)
						if(data == "success"){
							alert("Added successfully")
							window.location.href = "../a_index/index"
						}
						else if(data == "repeat"){
							$("#email").val("");
							alert("Email is duplicated value")
						}
						else
							alert("Error")
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>
