{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />

<div class="layout_m_content">
	<div class="layout_m_contitle">Add a New Bike</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_manage_bike/addNewBike" method="post"
			  name="add_bike" id="add_bike">
			{% csrf_token %}
			<table border="0">
				<tr>
					<td for="id">Bike ID:</td>
					<td><input type="text" class="" name="id" id="id" /></td>
				</tr>
				<tr>
					<td for="locations">Location:</td>
					<td>
						<select name="locations" id="locations" class="">
							<option value="glasgow">Glasgow</option>
							<option value="dm">DM</option>
							<option value="kc">KC</option>
						</select>
					</td>
				</tr>
				<tr>
					<td for="types">Bike Type:</td>
					<td>
						<select name="types" id="types" class="">
							<option value="city">City</option>
							<option value="bicycle">Bicycle</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="layout_m_infomcon">
						<span style="color: #FF0000;">*</span> Image:
					</td>
					<td><input  type="file" id="photo" name="photo" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
			</table>
		</form>
	</div>
</div>

<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='add_bike']").validate({
			rules: {
				id: "required",
				locations: "required",
				types: "required",
				photo: "required"
			},
			messages: {
				id: "Please enter ID",
				locations: "Please select locations",
				types: "Please select types",
				photo: "Please upload photo"
			},
			submitHandler: function (form) {
				// need complete
			}
		})
	})
})
</script>

<!--{% include 'admin/a_foot.html' %}-->
