{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />

			<div class="layout_m_content">
				<div class="layout_m_contitle">Add a New Bike</div>
				<div class="layout_m_infoupcontent">
					<table border="0">
						<tr>
							<td>UserName/Email:</td>
							<td><input type="text" class=""  /></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input type="text" class=""  /></td>
						</tr>
						<tr>
							<td>RePassword:</td>
							<td><input type="text" class=""  /></td>
						</tr>
                        <tr>
							<td>Telephone:</td>
							<td><input type="text" class=""  /></td>
						</tr>
                        <tr>
							<td>Password:</td>
							<td><input type="text" class=""  /></td>
						</tr>
						<tr>
							<td>Location:</td>
							<td><input type="text" class="" id="xb" value="" /></td>
						</tr>
					</table>
				</div>
				<div class="layout_m_infobtnsave">
					<a id="button_save" href="javasrcipt:void(0)" class="layout_button" title="Submit">Submit</a>
				</div>
			</div>
		</div>

<!--{% include 'admin/a_foot.html' %}-->
