{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/google_map.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>

<input type="hidden" id="loc_lats" value="{{loc_lats}}">
<input type="hidden" id="loc_lons" value="{{loc_lons}}">
<input type="hidden" id="bike_numbers" value="{{bike_numbers}}">
<input type="hidden" id="loc_lat_bike" value="{{loc_lat_bike}}">
<input type="hidden" id="loc_lon_bike" value="{{loc_lon_bike}}">
<div class="layout_m_content">
	<div class="layout_m_contitle">Add a New Location</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_manage_location/addNewLocation" method="post"
			  name="add_location" id="add_location">
			{% csrf_token %}
			<table border="0">
				<tr>
					<td for="name">Location Name:</td>
					<td><input type="text" class="" name="name" id="name" /></td>
				</tr>
				<tr>
					<td for="lng">Longitude:</td>
					<td><input type="number" name="lng" id="lng" class="" /></td>
				</tr>
				<tr>
					<td for="lat">Latitude:</td>
					<td><input type="number" name="lat" id="lat" class="" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>
		<div class="map_wrapper">
			<div class="map" id="googleMap"></div>
			<div class="loader">
		</div>
		</div>
	</div>
</div>

<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='add_location']").validate({
			rules: {
				name: "required",
				lng: "required",
				lat: "required"
			},
			messages: {
				name: "Please enter location name",
				lng: "Please pick any point in map or enter any number",
				lat: "Please pick any point in map or enter any number"
			},
			submitHandler: function (form) {
				let name = $("#name").val(),
					lng = $("#lng").val(), lat = $("#lat").val();
				$.post({
					url:"/a_manage_location/addNewLocationDo",
					type:"POST",
					data:{
						name, lng, lat
					},
					success:function(data){
						if(data == "success"){
							alert("Added successfully")
							window.location.href = "../a_manage_location/index"
						}
						else{
							alert("Error")
							}
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>


<script>

 // Get Locations from the DB
 var loc_lat = {{loc_lats}};
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

 //BIKE LOCATIONS (HARDCODED NEED TO FIX BACKEND)
 // Get Locations from the DB
 var loc_lat_bike = {{loc_lat_bike}};
 var loc_lon_bike = {{loc_lon_bike}};

//Initialize Marker
let marker;

</script>
<script src="../../static/admin/js/google_map.js"></script>

{% include 'admin/a_foot.html' %}