{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />
<script src="../../static/user/js/jquery.md5.js"></script>
<div class="layout_m_content">
	<div class="layout_m_contitle">Add New Operator</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_manage_operator/index" method="post" name="registration" id="registration">
		{% csrf_token %}
			<table border="0">
				<tr>
					<td for="id">Email:</td>
					<td><input type="text" name="id" id="id" class=""  /></td>
				</tr>
				<tr>
					<td for="password">Password:</td>
					<td><input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"/></td>
				</tr>
				<tr>
					<td for="telephone">Telephone:</td>
					<td><input type="number" name="telephone" id="telephone" class="" /></td>
				</tr>
				<tr>
					<td for="locations">Location:</td>
					<td>
						<select name="locations" id="locations" class="">
							<option value="glasgow">Glasgow</option>
							<option value="dm">DM</option>
							<option value="kc">KC</option>
						</select>
					</td>
				</tr>
				<tr>
					<td for="types">Bike Type:</td>
					<td>
						<select name="types" id="types" class="">
							<option value="city_bike">Repair</option>
							<option value="bicycle">Transport</option>
							<option value="bicycle">Manage</option>
						</select>
					</td>
				</tr>
<!--				<tr>-->
<!--					<td class="layout_m_infomcon">-->
<!--						<span style="color: #FF0000;">*</span> Image:-->
<!--					</td>-->
<!--					<td><input  type="file" id="photo" name="photo" /></td>-->
<!--				</tr>-->
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>


<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='registration']").validate({
			rules: {
				id : "required",
				password: {
					required: true,
					minlength: 5
				},
				telephone: {
					required: true,
					minlength: 8,
				},
				locations: "required",
				types: "required"
			},
			messages: {
				id: "Please enter ID",
				password: "Please enter more than 5 characters",
				locations: "Please select locations",
				telephone: "Please enter more than 8 numbers",
				types: "Please select type",
			},
			submitHandler: function (form) {
				let username = $("#id").val(), password = $("#password").val(),
					telephone = $("#telephone").val(), locations = $("#locations").val(),
					types = $("#types").val();
				$.post({
					url:"/a_manage_operator/addNewOperatorDo",
					type:"POST",
					data:{
						username, password, telephone , locations, types
					},
					success: function(data){
						if(data == "success"){
							alert("Added successfully")
							window.location.href = "../a_manage_operator/index"
						}
						else if(data == "repeat")
							alert("Email is duplicated value")
						else
							alert("Error")
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>
{% include 'admin/a_foot.html' %}
