{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>

<script>

<!--	 $("document").ready(function(){-->
<!--	 	var location = $("#locations").val()-->
<!--	 	alert(location)-->
<!--	 })-->
		 // Get Locations from the DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!

<!--		 var loc_lat = $("#loc_lats").val();-->
		 var loc_lat = {{loc_lats}}
		 var loc_lon = {{loc_lons}};

		 // Get number of bikes for each location from DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!
		 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
		 // Transform numbers into string labels
		 var labels = bike_numbers.map(String);
		 let labelIndex = 0;

		//Initialize Marker
		let marker;


	function initMap() {
		const glasgow = {
			lat: 55.860916,
			lng: -4.251433
		};
		const map = new google.maps.Map(document.getElementById("googleMap"), {
			zoom: 12,
			center: glasgow,
		});

        // Add a marker at the selected location.
		for (i = 0; i < loc_lat.length; i++) {
		const location = {
				lat: loc_lat[i],
				lng: loc_lon[i]
			};

        addMarker(location, map);
		}

		// This event listener calls placeMarker() when the map is clicked.
		google.maps.event.addListener(map, "click", (event) => {
			placeMarker(event.latLng, map);
			// get latitude and longitude of click
			var clickLat = event.latLng.lat();
			var clickLon = event.latLng.lng();

			// place the values in the input box
			document.getElementById("lat").value = clickLat.toFixed(5);
			document.getElementById("lng").value = clickLon.toFixed(5);
		});

	}

	// Place a new marker to the map.
	function placeMarker(location, map) {
		if (marker) {
			marker.setPosition(location);
		} else {
			marker = new google.maps.Marker({
				position: location,
				map: map
			});
		}
	}

    // Add a marker to the map.
    function addMarker(location, map) {
      // Add the marker at the clicked location, and add the next-available label
      // from the array of alphabetical characters.
      new google.maps.Marker({
        position: location,
        label: labels[labelIndex++ % labels.length],
        map: map,
      });
    }
</script>
<input type="hidden" id="loc_lats" value="{{loc_lats}}">
<input type="hidden" id="loc_lons" value="{{loc_lons}}">
<input type="hidden" id="bike_numbers" value="{{bike_numbers}}">
<div class="layout_m_content">
	<div class="layout_m_contitle">Add a New Location</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_manage_location/addNewLocation" method="post"
			  name="add_location" id="add_location">
			{% csrf_token %}
			<table border="0">
<!--				<tr>-->
<!--					<td for="id">Location ID:</td>-->
<!--					<td><input type="number" class="" name="id" id="id"/></td>-->
<!--				</tr>-->
				<tr>
					<td for="name">Location Name:</td>
					<td><input type="text" class="" name="name" id="name" /></td>
				</tr>
<!--				<tr>-->
<!--					<td for="types">Location Type:</td>-->
<!--					<td>-->
<!--						<select name="types" id="types" class="">-->
<!--							<option value="city">City</option>-->
<!--							<option value="bicycle">Bicycle</option>-->
<!--						</select>-->
<!--					</td>-->
<!--				</tr>-->
				<tr>
					<td for="lng">Longitude:</td>
					<td><input type="number" name="lng" id="lng" class="" /></td>
				</tr>
				<tr>
					<td for="lat">Latitude:</td>
					<td><input type="number" name="lat" id="lat" class="" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>

		<div class="map" id="googleMap" style=""></div>
	</div>
</div>



<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='add_location']").validate({
			rules: {
// <!--				id: "required",-->
				name: "required",
				lng: "required",
				lat: "required"
// <!--				photo: "required"-->
			},
			messages: {
// <!--				id: "Please enter ID",-->
				name: "Please enter location name",
				lng: "Please pick any point in map or enter any number",
				lat: "Please pick any point in map or enter any number"
// <!--				photo: "Please upload photo"-->
			},
			submitHandler: function (form) {
				let name = $("#name").val(),
					lng = $("#lng").val(), lat = $("#lat").val();
				$.post({
					url:"/a_manage_location/addNewLocationDo",
					type:"POST",
					data:{
						name, lng, lat
					},
					success:function(data){
						if(data == "success"){
							alert("Added successfully")
							window.location.href = "../a_manage_location/addNewLocation"
						}
						else{
							alert("Error")
							}
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>
