{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />

<div class="layout_m_content">
	<div class="layout_m_contitle">Change Password</div>
	<div class="layout_m_infoupcontent">
		<form action="../a_change_password/index" method="post" name="resetPassword" id="resetPassword">
			{% csrf_token %}
			<table border="0">
				<tr>
					<td for="new_password">New Password:</td>
					<td><input type="password" name="new_password" id="new_password" class=""/></td>
				</tr>
				<tr>
					<td for="confirm_password">Confirm Password:</td>
					<td><input type="password" name="confirm_password" id="confirm_password" class="" /></td>
				</tr>
			</table>
			<div class="layout_m_infobtnsave">
				<input id="button_save" href="#" class="layout_button" type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>


<script>
$(function() {
	$("#button_save").click(function(){
		$("form[name='resetPassword']").validate({
			rules: {
				new_password: {
					minlength: 5
				},
				confirm_password: {
					minlength: 5,
					equalTo : '#new_password'
				},
			},
			messages: {
				new_password: "Please enter more than 5 characters",
				confirm_password: "It is not identical with new password",
			},
			submitHandler: function (form) {
				let new_password = $("#new_password").val(),
					confirm_password = $("#confirm_password").val();
				$.post({
					url:"/a_change_password/resetPassword",
					type:"POST",
					data:{ new_password, confirm_password },
					success: function(data){
						if(data == "success")
							alert("Added successfully")
						else if(data == "repeat")
							alert("Email is duplicated value")
						else
							alert("Error")
					},
					fail:function(data){
						alert("false")
					}
				})
			}
		})
	})
})
</script>

{% include 'admin/a_foot.html' %}
