{% include 'admin/a_header.html' %}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/a_add_bike.css" />

<div class="layout_m_content">
	<div class="layout_m_contitle">Change Password</div>
	<div class="layout_m_infoupcontent">
		<table border="0">
			<tr>
				<td>Old Password:</td>
				<td><input type="password" class=""  /></td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td><input type="password" class="" value="" /></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" class="" value="" /></td>
			</tr>
		</table>
	</div>
	<div class="layout_m_infobtnsave">
		<a id="button_save" href="javasrcipt:void(0)" class="layout_button" title="Submit">Submit</a>
	</div>
</div>

{% include 'admin/a_foot.html' %}
