<!--DO NOT START WITH BODY TAG-->
<!--THIS IS THE FOOTER -->
<div class="layout_pagefoot">
    <footer class='layout_footwidth'>
        <table id="layout_f_table" border="0" cellspacing="" cellpadding="" width="100%">
            <thead>
                <tr>
                    <th>Front End Developer</th>
                    <th>Back End Developer</th>
                    <th>In collaborate with</th>
                    <th>Thanks to</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hwisun Bae</td>
                    <td>Ioannis Stroumpoulis</td>
                    <td>AWS database</td>
                    <td>Mireilla Bikanga Ada</td>
                </tr>
                <tr>
                    <td>Jian Wu</td>
                    <td></td>
                    <td>Django framework</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </footer>
</div>

<div class="layout_pagefoot1">
    <div class="layout_footwidth">
        <div class="layout_f_beianinfo" style="display: inline; float: left;">Copyright © 2020&nbsp;</div>
        <div class="layout_f_beianinfo" style="display: inline; float: right;">Lab 02-1c</div>
    </div>
</div>
</body>
</html>
