
<div class="layout_pagefoot">
    <footer class='layout_footwidth' style='height: 250px;'>
        <img class="layout_f_logo" src="../../static/admin/img/dl_06.jpg" />
        <img class="layout_f_erwm" src="../../static/admin/img/dl_06.jpg" />
        <img class="layout_f_erwm" src="../../static/admin/img/dl_06.jpg" />
        <p class="layout_f_erwminfo">扫一扫 进入高考交流群</p>
        <p class="layout_f_erwminfo">关注 最新高考资讯关注</p>
        <table id="layout_f_table" border="0" cellspacing="" cellpadding="" width="100%">
            <thead>
                <tr>
                    <th>保定总校区</th>
                    <th>邯郸分校区</th>
                    <th>肃宁分校区</th>
                    <th>衡水分校区</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>地址：百花路263号电气化党校（市教育局东侧）</td>
                    <td>地址：康桥国际大厦 16 层 B01室（陵园路）</td>
                    <td>地址：中央公园小区商业21-4（肃宁县人民公园南侧）</td>
                    <td>地址：衡水中学对面</td>
                </tr>
                <tr>
                    <td>电话：0312-3039687 15097419732</td>
                    <td>电话：0310-6185678 0310-6195678</td>
                    <td>电话：0317-5050007 15932720999</td>
                    <td>电话：15933916341</td>
                </tr>
            </tbody>
        </table>
    </footer>
</div>

<div class="layout_pagefoot1">
    <div class="layout_footwidth">
        <div class="layout_f_beianinfo" style="display: inline; float: left;">Copyright © 2019&nbsp;保定未来人才教育服务有限公司 页面版权所有</div>
        <div class="layout_f_beianinfo" style="display: inline; float: right;">冀ICP：********-1号 网站建设 中企动力 保定</div>
    </div>
</div>
</body>
<script src="../../js/vip/wode.js" type="text/javascript" charset="utf-8"></script>
</html>
