<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>rent bike manage system</title>
    <link rel='shortcut icon' href='../../favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' type='text/css' href='../../static/admin/css/index.css' />
    <script src="../../static/admin/js/vip/wode.js" type="text/javascript"></script>
    <script src="../../static/admin/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <div class='layout_pagehead'></div>
    <div class='layout_pagemiddle'>
        <div class='layout_h_content'>
            <a href="../a_index/index"><img src='../../static/admin/img/dl_06.jpg' /></a>
            <span>my bike</span>
            <a href='myinfo.ashx' class='layout_button layout_h_fhsy' title='lay out'>lay out</a>
        </div>

        <div class='layout_m_navigation'>
            <div class='memucontent'>
                <li>user</li>
                <ul>
                    <li><a href='../a_manage_user/addNewUser'>add new user</a></li>
                    <li><a href='../a_manage_user/index'>manage user</a></li>
                    <li><a href='../a_manage_user/userBikeHistory'>user bike history</a></li>
                    <li><a href='../a_manage_user/userRepairHistory'>user repair history</a></li>
                    <li><a href='../a_manage_user/userRecharge'>user recharge</a></li>
                    <li><a href='../a_manage_user/userRechargeHistory'>user recharge history</a></li>
                </ul>
                <li>bike</li>
                <ul>
                    <li><a href='../a_manage_bike/addNewBike'>add new bike</a></li>
                    <li><a href='../a_manage_bike/index'>bike information</a></li>
                </ul>
                <li>location</li>
                <ul>
                    <li><a href='../a_manage_location/addNewLocation'>add new location</a></li>
                    <li><a href='../a_manage_location/index'>location information</a></li>
                </ul>
                <li>operator</li>
                <ul>
                    <li><a href='../a_manage_operator/index'>add new operator</a></li>
                    <li><a href='../a_manage_operator/addNewOperator'>operation infromation</a></li>
                </ul>
                <li>admin</li>
                <ul>
                    <li><a href='../a_change_password/index'>change password</a></li>
                </ul>
            </div>
            <img class='layout_m_leftimg' src='../../static/admin/img/dl_06.jpg' />
        </div>


