<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>rent bike manage system</title>
    <link rel='shortcut icon' href='../../static/admin/img/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' type='text/css' href='../../static/admin/css/index.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">


<!--    ajax-->
    <script src="../../static/user/js/jquery.js"></script> <!-- Common jquery plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js" type="text/javascript" charset="utf8"></script>
</head>
<body>
    <div class='layout_pagehead'></div>
    <div class='layout_pagemiddle'>
        <div class='layout_h_content'>
            <a href="../a_index/index"><img src='../../static/admin/img/dl_06.jpg' /></a>
            <span>Bike System</span>
            <a href='myinfo.ashx' class='layout_button layout_h_fhsy' title='lay out'>lay out</a>
        </div>

        <div class='layout_m_navigation'>
            <div class='memucontent'>
                <li>User</li>
                <ul>
                    <li><a href='../a_manage_user/addNewUser'>Add new user</a></li>
                    <li><a href='../a_manage_user/index'>Manage user</a></li>
                    <li><a href='../a_manage_user/userBikeHistory'>User bike history</a></li>
                    <li><a href='../a_manage_user/userRepairHistory'>User repair history</a></li>
                    <li><a href='../a_manage_user/userRecharge'>User recharge</a></li>
                    <li><a href='../a_manage_user/userRechargeHistory'>User recharge history</a></li>
                </ul>
                <li>Bike</li>
                <ul>
                    <li><a href='../a_manage_bike/addNewBike'>Add new bike</a></li>
                    <li><a href='../a_manage_bike/index'>Bike information</a></li>
                </ul>
                <li>Location</li>
                <ul>
                    <li><a href='../a_manage_location/addNewLocation'>Add new location</a></li>
                    <li><a href='../a_manage_location/index'>Location information</a></li>
                </ul>
                <li>Operator</li>
                <ul>
                    <li><a href='../a_manage_operator/index'>Add new operator</a></li>
                    <li><a href='../a_manage_operator/addNewOperator'>Operation infromation</a></li>
                </ul>
                <li>Admin</li>
                <ul>
                    <li><a href='../a_change_password/index'>Change password</a></li>
                </ul>
            </div>
            <img class='layout_m_leftimg' src='../../static/admin/img/dl_06.jpg' />
        </div>

<!-- THIS IS A HEADER !  -->
<!-- DO NOT CLOSE BODY TAG  -->
<!--    </div>-->
<!--</body>-->