<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="thema bootstrap template, thema admin, bootstrap, admin template, bootstrap admin">

    <meta name="author" content="LanceCoder">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>Thema Admin Boostrap Template</title>

    <!-- Start Global plugin css -->
    <link href="../../static/admin/css/global-plugins.css" rel="stylesheet">
    <link href="../../static/admin/vendors/jquery-icheck/skins/all.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/theme.css" rel="stylesheet">
    <link href="../../static/admin/css/style-responsive.css" rel="stylesheet"/>
    <link href="../../static/admin/css/class-helpers.css" rel="stylesheet"/>

    <!--Fonts-->
    <link href="../../static/admin/fonts/Indie-Flower/indie-flower.css" rel="stylesheet" />
    <link href="../../static/admin/fonts/Open-Sans/open-sans.css?family=Open+Sans:300,400,700" rel="stylesheet" />

</head>
<body id="default-scheme" class="form-background">

    <!--main content start-->
    <div class="bg-overlay"></div>
    <section class="registration-login-wrapper">

        <!--======== START LOGIN ========-->
        <div class="row page-login">

            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

                <div class="form-body bg-white padding-20">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-header bg-white padding-10 text-center">
                                <h2><strong>Login</strong> to your account</h2>
                                <p>Not yet signed up? Click <a href="page-registration-2.html" class="color-green">Sign Up</a> your account.</p>
                            </div>

                            <form>
                                <div class="inner-addon right-addon margin-bottom-15">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" class="form-control" placeholder="Email" />
                                </div>

                                <div class="inner-addon right-addon margin-bottom-15">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="icheck-aero"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="button" onclick="window.location.replace('../a_index/index')" class="btn btn-green btn-raised btn-flat">Access Account</button>
                                    </div>
                                </div>

                            </form>

                        </div><!--/col-md-6-->

                        <div class="col-md-6">
                            <div class="form-header bg-white padding-10 text-center form-social-header">
                                <h2><strong>Social</strong> authentication</h2>
                            </div>
                            <div class="social-buttons margin-top-20">
                                <button type="button" class="btn btn-lg btn-block btn-primary btn-flat bg-facebook btn-raised"><i class="fa fa-facebook pull-left"></i>Login with Facebook</button>
                                <button type="button" class="btn btn-lg btn-block btn-blue btn-flat bg-twitter btn-raised"><i class="fa fa-twitter pull-left"></i>Login with Twitter</button>
                                <button type="button" class="btn btn-lg btn-block btn-danger btn-flat bg-google btn-raised"><i class="fa fa-google-plus pull-left"></i>Login with Google</button>
                            </div>

                        </div><!--/col-md-6-->
                    </div><!--/row-->

                    <hr/>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Forgot Password?</h4>
                            <p><a href="#">Click here to reset password</a></p>
                        </div>
                    </div>

                </div><!--/form-body-->

            </div><!--/col-md-12-->

        </div><!--/row-->
        <!--======== END LOGIN ========-->

    </section>
</body>

</html>