<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Bike System</title>
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/login.css" />
	<script type="text/javascript" src="../../static/admin/js/jquery-2.1.4.min.js"></script>
	<script src="../../static/user/js/jquery.js"></script> <!-- Common jquery plugin -->
	<script src="../../static/user/js/jquery.md5.js"></script> <!-- Common jquery plugin -->

</head>
<body>
	<header class="">
		<div class="layout_pagemiddle">
			<img src='../../static/admin/img/bike_logo.jpeg'/>
		</div>
	</header>
	<div class="layout_content">
		<div class="layout_login">
			<table>
				<tr>
					<td rowspan="3"></td>
					<td>
						<div class="layout_login_in">
							<img src="../../static/admin/img/user.png" >
							<input type="email" name="" id="username" value="" placeholder="admin username" maxlength="20"/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="layout_login_in">
							<img src="../../static/admin/img/pass.png" >
							<input type="password" name="" id="password" value="" placeholder="admin password" maxlength="20"/>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan=""><a href="#" id="submit" onclick="login()" class="layout_button">login</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>

<script>
    function login(){
        var username = $("#username").val().trim();
        var password = $.md5($("#password").val().trim());
        if(username==""){
            alert("Please input your username");
            return;
        }
        if(password==""){
            alert("Please input your password");
            return;
        }
        $.ajax({
			url:"/a_login/login",
			type:"POST",
			data:{ username, password },
			success:function(data){
				if(data == "success"){
					alert("login successfully")
					window.location.href = "../a_index/index"
				}
				else if(data == "usernameerror")
					alert("Username is not enrolled")
				else if(data == "passworderror")
					alert("Password not match")
				else{
					alert("false")
				}
			},
			fail:function(data){
				alert("false")
			}
		})
	}

</script>
</html>
