{% include 'admin/a_header.html' %}
       <!--谷歌地图调用api-->
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_manage.css' />
<link href="../../static/admin/css/popup-box.css" rel="stylesheet" type="text/css" media="all" /> <!-- popup box css -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>


<div class="layout_m_content">
	<div class="layout_m_contitle">Manage Bike</div>
	<div class="layout_m_infoupcontent">
		<div class="map" id="googleMap" style=""></div>
	</div>

    <div class="layout_m_table">
		<table class="table_user">
			<thead>
				<tr>
					<th>
						<p>Index</p>
					</th>
					<th>
						<p>Type</p>
					</th>
					<th>
						<p>Location Name</p>
					</th>
					<th>
						<p>Rent Money</p>
					</th>
					<th>
						<p>Password</p>
					</th>
                    <th>
						<p>IsUsed</p>
					</th>
					<th>
						<p>Operations</p>
					</th>
				</tr>
			</thead>
			<tbody>
			{% for bike in bikes %}
				<tr id="{{bike.id}}">
					<td>
						<p>{{bike.id}}</p>
					</td>
					<td>
						<p>{{bike.type}}</p>
					</td>
					<td>
						<p>{{bike.location_id.location_name}}</p>
					</td>
					<td>
						<p>{{bike.rent_money}}</p>
					</td>
					<td>
						<p>{{bike.open_password}}</p>
					</td>
                    <td>
						<p>{{bike.is_use}}</p>
					</td>
					<td>
						<p><a href="#" onclick="deleteBike('{{bike.id}}')">Delete</a></p>
                        <p><a href="#"  onclick="changeInformation('{{bike.id}}','{{bike.type}}','{{bike.location_id.id}}','{{bike.rent_money}}','{{bike.open_password}}','{{bike.is_use}}')">Change Information</a></p>
					</td>

				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<!-- recharge form popup-->
<div class="pop-up2">
        <div id="small-dialog2" class="mfp-hide book-form">
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h3>Change Information</h3>
                    <div class="login-agileits-top">
                        <form action="" method="post">
							<input type="hidden" id="newId">
							<input type="hidden" id="oldLocation">
							<select class="name" name="type" id="newType">
                                <option value="city">City</option>
								<option value="bicycle">Bicycle</option>
                            </select>
							<select class="name" name="newLocation" id="newLocation">
								{% for location in locations%}
                                <option value="{{location.id}}">{{location.location_name}}</option>
								{% endfor %}
                            </select>
							<input type="text" class="phone" name="newRent_money" id="newRent_money" Placeholder="new rent money" required="" />
                            <input type="text" class="phone" name="newOpen_password" id="newOpen_password" Placeholder="new open password" required="" />
							<input type="button" onclick="changeInformationDo()" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
		</div>
	</div>
<!-- end recharge form popup-->
<!--popup-js-->
<a href="#small-dialog2" id="changeInformation"class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"></a>

<script src="../../static/admin/js/jquery.magnific-popup.js" type="text/javascript"></script>

<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
	});
</script>
<!--popup js end-->



<script>
	$(document).ready(function () {
		$('.table_user').DataTable();
	})
</script>

	<!--delete-->
	<script>
		function deleteBike(id){
			var x;
			var r=confirm("Confirm Delete?");
			if (r==true){
				$.ajax({
					url:"../a_manage_bike/deleteBikeDo",
					type:"POST",
					data:{
						id:id
					},
					success:function(data){
						if(data=="success"){
							alert("delete successfully")
							window.location.href = "../a_manage_bike/index";
						}
						else{
							alert("error");
						}
					},
					fail:function(){
						alert("error")
					}
				})

			}
			else{

			}
		}
	</script>
	<!--end delete-->

	<!--change information-->
	<script>
		function changeInformation(id,type,location_id,rent_money,open_password,is_use){
			if(is_use != "False"){
				alert("only the bike is free can be changed")
				return;
			}
			$("#newId").val(id);
			$("#newType").val(type);
			$("#newLocation").val(location_id);
			$("#oldLocation").val(location_id);
			$("#newRent_money").val(rent_money);
			$("#newOpen_password").val(open_password);
			$("#changeInformation").click();
		}

		function changeInformationDo(){
			var id = $("#newId").val();
			var type = $("#newType").val();
			var location_id = $("#newLocation").val();
			var oldLocation = $("#oldLocation").val();
			var rent_money = $("#newRent_money").val();
			var open_password = $("#newOpen_password").val();
			$.ajax({
				url:"/a_manage_bike/changeInformationDo",
				type:"POST",
				data:{
					id:id,
					type:type,
					location_id:location_id,
					oldLocation:oldLocation,
					rent_money:rent_money,
					open_password:open_password
				},
				success:function(data){
					if(data == "success"){
						alert("change successfully")
						window.location.href = "../a_manage_bike/index"
					}
					else if(data == "repeat"){
						alert("email repeat")
					}
					else{
						alert("error")
					}
				},
				fail:function(data){
					alert("error")
				}
			})

		}
	</script>
	<!--end change information-->


<script>

 // Get Locations from the DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!
 var loc_lat = {{loc_lats}}
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

//Initialize Marker
let marker;

</script>
<script src="../../static/admin/js/google_map.js"></script>

{% include 'admin/a_foot.html' %}