{% include 'admin/a_header.html' %}
       <!--谷歌地图调用api-->
<link rel="stylesheet" type="text/css" href="../../static/admin/css/google_map.css" />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_manage.css' />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly" async></script>


<div class="layout_m_content">
	<div class="layout_m_contitle">Manage Location</div>
	<div class="layout_m_infoupcontent">
		<div class="map_wrapper">
			<div class="map" id="googleMap"></div>
			<div class="loader"></div>
		</div>
	</div>

    <div class="layout_m_table">
		<table class="table_user">
			<thead>
				<tr>
					<th>
						<p>Index</p>
					</th>
					<th>
						<p>Location Name</p>
					</th>
					<th>
						<p>Latitude</p>
					</th>
					<th>
						<p>Longitude</p>
					</th>
					<th>
						<p>Total Bike Count</p>
					</th>
                    <th>
						<p>Bike Count Now</p>
					</th>
					<th>
						<p>Operations</p>
					</th>
				</tr>
			</thead>
			<tbody>
			{% for location in locations %}
			{% if location.id != 1%}
				<tr id="{{location.id}}">
					<td>
						<p>{{location.id}}</p>
					</td>
					<td>
						<p>{{location.location_name}}</p>
					</td>
					<td>
						<p>{{location.lat}}</p>
					</td>
					<td>
						<p>{{location.lng}}</p>
					</td>
					<td>
						<p>{{location.bike_count}}</p>
					</td>
                    <td>
						<p>{{location.bike_count_now}}</p>
					</td>
					<td>
						<p><a href="#" onclick="deleteLocation('{{location.id}}')">Delete</a></p>
					</td>
				</tr>
			{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<script>
	$(document).ready(function () {
		$('.table_user').DataTable();
	})
</script>


<!--delete-->
<script>
	function deleteLocation(id){
		var x;
		var r=confirm("Confirm Delete?");
		if (r==true){
			$.ajax({
				url:"../a_manage_location/deleteLocationDo",
				type:"POST",
				data:{
					id:id
				},
				success:function(data){
					if(data=="success"){
						alert("delete successfully")
						window.location.href = "../a_manage_location/index";
					}
					else if(data == "haveBike"){
						alert("please delete all the bike at first")
					}
					else{
						alert("error");
					}
				},
				fail:function(){
					alert("error")
				}
			})

		}
		else{

		}
	}
</script>
<!--end delete-->




<script>

 // Get Locations from the DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!
 var loc_lat = {{loc_lats}}
 var loc_lon = {{loc_lons}};
 // Get number of bikes for each location from DB  !!THESE VALUES ARE HARDCODED FOR TESTING!!
 var bike_numbers = {{bike_numbers}}; //number of bikes in the location
 // Transform numbers into string labels
 var labels = bike_numbers.map(String);
 let labelIndex = 0;

 //BIKE LOCATIONS (HARDCODED NEED TO FIX BACKEND)
 // Get Locations from the DB
 var loc_lat_bike = {{loc_lat_bike}};
 var loc_lon_bike = {{loc_lon_bike}};
//Initialize Marker
let marker;

</script>
<script src="../../static/admin/js/google_map.js"></script>

{% include 'admin/a_foot.html' %}