{% include 'admin/a_header.html' %}

<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />
<link rel='stylesheet' type='text/css' href='../../static/admin/css/a_manage.css' />


<div class="layout_m_content">
	<div class="layout_m_contitle">Manage Operator</div>
	<div class="layout_m_table">
		<table class="table_operator">
			<thead>
				<tr>
					<th>
						<p>Index</p>
					</th>
					<th>
						<p>Username</p>
					</th>
					<th>
						<p>Mobile</p>
					</th>
					<th>
						<p>Location</p>
					</th>
					<th>
						<p>Type</p>
					</th>
					<th>
						<p>Operations</p>
					</th>
				</tr>
			</thead>
			<tbody>
			{% for operator in operators %}
				<tr>
					<td>
						<p>{{operator.id}}</p>
					</td>
					<td>
						<p>{{operator.username}}</p>
					</td>
					<td>
						<p>{{operator.telephone}}</p>
					</td>
					<td>
						<p>{{operator.location}}</p>
					</td>
					<td>
						<p>{{operator.type}}</p>
					</td>
					<td>
						<p><a href="#">recharge</a></p>
						<p><a href="#">delete</a></p>
						<p><a href="#">change pass</a></p>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.table_operator').DataTable();
	})
</script>

{% include 'admin/a_foot.html' %}