{% include 'admin/a_header.html' %}

    <link rel='stylesheet' type='text/css' href='../../static/admin/css/a_index.css' />
    <link rel='stylesheet' type='text/css' href='../../static/admin/css/a_manage.css' />


    <div class="layout_m_content">
        <div class="layout_m_contitle">Manage User</div>
            <table class="layout_m_table1" border="0" cellspacing="" cellpadding="">
                <tr>
                    <td>username:</td>
                    <td><input type="text" class="layout_m_infotext1" id="username" value="{{username}}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="layout_button_layer"><a href="#" onclick="reSet()" class="layout_button1">reset</a></div>
                    </td>
                    <td></td>
                    <td>
                        <div class="layout_button_layer"><a href="#" onclick="searchUser()" class="layout_button1">search</a></div>
                    </td>
                    <td></td>

                </tr>
            </table>
            <table class="layout_m_table">
					<thead>
						<tr>
							<th>
								<p>userid</p>
							</th>
							<th>
								<p>username</p>
							</th>
							<th>
								<p>location</p>
							</th>
							<th>
								<p>telephone</p>
							</th>
							<th>
								<p>money</p>
							</th>
							<th>
								<p>operations</p>
							</th>
						</tr>
					</thead>
					<tbody>
					{% for user in users %}
						<tr>
							<td>
								<p>{{user.id}}</p>
							</td>
							<td>
								<p>{{user.username}}</p>
							</td>
							<td>
								<p>{{user.location}}</p>
							</td>
							<td>
								<p>{{user.telephone}}</p>
							</td>
							<td>
								<p>{{user.money}}</p>
							</td>
							<td>
								<p><a href="#">recharge</a></p>
								<p><a href="#">delete</a></p>
								<p><a href="#">change pass</a></p>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

{% if totalCount %}
 	<div class='pagin' style="height:40px">
		<div class='message'>total <i class='blue'>{{totalCount}}</i>datas,<i class='blue'>{{totalPageNum}}</i>pages,now<i class='blue'>no.{{pageNum}}&nbsp;</i>page</div>
                         <ul class='paginList'>
						 {% if pageNum > 1%}
                         <li class='paginItem'><a href = 'javascript:;'  onclick='changePage({{pagePre}})' > <img  src='../../static/admin/img/pre.gif' ></a></li>
                         {%endif%}
							 {% for page in pages %}
								 {%if page == pageNum%}
									<li class='paginItem current'><a href = 'javascript:;' > {{page}} </a></li>
								 {%else%}
									 <li class='paginItem'><a href = 'javascript:;' onclick='changePage({{page}})'>{{page}}</a></li>
								 {%endif%}
							 {%endfor%}
						 {% if pageNum != totalPageNum%}
                         <li class='paginItem'><a href = 'javascript:;' onclick='changePage({{pageNext}})'><img  src='../../static/admin/img/next.gif'></a></li>
                         {%endif%}
						 </ul>
	</div>
{%endif%}

		<script>
			function changePage(page){
				window.location.href = "../a_manage_user/index?pageNum="+page
			}
			function searchUser(){
				username = $("#username").val()
				if(username == ""|username == null)
				{
					alert("please input real username")
					return;
				}
				window.location.href = "../a_manage_user/index?username="+username
			}
			function reSet(){
				window.location.href = "../a_manage_user/index?pageNum=1&&isSet=true"
			}

		</script>

<!--{% include 'admin/a_foot.html' %}-->